$light: #FFFFFF;
$base: #B3B3B3;
$base-light: #E1E1E1;
$base-dark: #353535;

* {
  font-size: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  height: calc(100% - 55px);
  padding:20px;
  background-color:#EEF0F2;
  font-family:"Open Sans",sans-serif;
}

a {
  text-decoration: none;
}

input,
select,
textarea {
  padding: 10px;
  border-radius: 6px;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center,
cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1,
h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object,
ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td,
tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin:0;
  padding:0;
  border:0;
  font-size:100%;
  font:inherit;
  font-family: "Open Sans", sans-serif;
  vertical-align:baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display:block;
}

ol,ul {
  list-style:none;
}

.container {
  position:relative;
  width: 100%;
  margin:50px auto auto;
  padding: 0 2%;
}

.form__entry,
.textarea-text {
  font-size:18px;
  font-weight:400;
  font-family:"Open Sans";
  color: $base-dark;
}
